
:root {
    --color-neutral: 255, 255, 255;
    --color-neutral-50: 251, 251, 251; --preview: #fbfbfb;
    --color-neutral-100: 248, 248, 248; --preview: #f8f8f8;
    --color-neutral-200: 239, 239, 239; --preview: #efefef;
    --color-neutral-300: 228, 228, 228; --preview: #e4e4e4;
    --color-neutral-400: 212, 212, 212; --preview: #d4d4d4;
    --color-neutral-500: 127, 127, 127; --preview: #7f7f7f;
    --color-neutral-600:  42,  42,  42; --preview: #2a2a2a;
    --color-neutral-700:  26,  26,  26; --preview: #1a1a1a;
    --color-neutral-800:  15,  15,  15; --preview: #0f0f0f;
    --color-neutral-900:   6,   6,   6; --preview: #060606;
    --color-primary-50: 238, 255, 174; --preview: #eeffae;
    --color-primary-100: 224, 255, 102; --preview: #e0ff66;
    --color-primary-200: 198, 247,   0; --preview: #c6f700;
    --color-primary-300: 169, 211,   0; --preview: #a9d300;
    --color-primary-400: 151, 189,   0; --preview: #97bd00;
    --color-primary-500: 145, 182,   0; --preview: #91b600;
    --color-primary-600: 139, 174,   0; --preview: #8bae00;
    --color-primary-700: 122, 153,   0; --preview: #7a9900;
    --color-primary-800:  93, 116,   0; --preview: #5d7400;
    --color-primary-900:  52,  65,   0; --preview: #344100;
    --color-secondary-50: 174, 238, 255; --preview: #aeeeff;
    --color-secondary-100: 102, 224, 255; --preview: #66e0ff;
    --color-secondary-200:   0, 198, 247; --preview: #00c6f7;
    --color-secondary-300:   0, 169, 211; --preview: #00a9d3;
    --color-secondary-400:   0, 151, 189; --preview: #0097bd;
    --color-secondary-500:   0, 145, 182; --preview: #0091b6;
    --color-secondary-600:   0, 139, 174; --preview: #008bae;
    --color-secondary-700:   0, 122, 153; --preview: #007a99;
    --color-secondary-800:   0,  93, 116; --preview: #005d74;
    --color-secondary-900:   0,  52,  65; --preview: #003441;
}

